CREATE TABLE IF NOT EXISTS public.correlativos_notas (
    id SERIAL PRIMARY KEY,
    creado_at TIMESTAMPTZ DEFAULT NOW(),
    numero INTEGER,
    anio INTEGER,
    entidad_id INTEGER REFERENCES public.entidades(id),
    tipo VARCHAR(255),
    tema TEXT,
    remitente VARCHAR(255),
    fecha_recibido DATE,
    fecha_respuesta DATE,
    estado VARCHAR(50),
    referencia VARCHAR(255)
);
